<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>
<body>
    <h1>Bem-vindo à Locadora de Veículos</h1>
    <ul>
        <li><a href="/cadastrar_clientes">Cadastrar Cliente</a></li>
        <li><a href="/cadastrar_veiculos">Cadastrar Veículo</a></li>
        <li><a href="/cadastrar_locacao">Realizar Locação</a></li>
        <li><a href="/listar">Listar Tudo</a></li>
    </ul>
</body>
</html>