<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuários</title>
</head>
<body>
    <div class="users">

        <form action="{{url_for('user.create_user')}}" method="post">

            <input type="text" name="nome" placeholder="Nome">

            <input type="email" name="email" placeholder="Email" value="{{request.form['email']}}">
              
            <button>Enviar</button>
        </form>
    
    </div>
</body>
</html>