<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="users">
        <h4>Usuários</h4>
        <ul>
            {% for user in users %}
            <li>
                <span>Nome:</span> 
                {{user['nome']}}  -  
                

                <span>Email:</span> 
                {{user['email']}} 
                
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>

    <div class="books">
        <h4>Livros</h4>
        <ul>
            {% for book in books %}
            <li>
                <span>Titulo:</span> 
                {{book['titulo']}}  - 

                <span>Autor:</span> 
                {{book['autor']}} 
                
            </li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{url_for('user.create_user')}}"> Adicionar Usuário </a> <br> 

    <a href="{{url_for('book.create_book')}}"> Adicionar Livros</a>

</body>
</html>